# ThamaniCraft Environment Configuration
TZ=Africa/Dar_es_Salaam
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=thamanicraft_db
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest\n